@import '@styles/general.scss';
@import '@styles/typography.scss';
@import '@styles/colors.scss';
    
.root {
    display: flex;
    flex-direction: row;
    background-color: var(--snow-white);
    column-gap: 80px;
    justify-content: center;
    align-content: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.paragraph {
    font: var(--medium-title);
    margin-bottom: 24px;
    font: var(--paragraph1);
}

.text {
    width: 40vw;
}

.image {
    width: 20vw;
}

.title {
    font: var(--heading1);
    letter-spacing: 6px;
    margin-bottom: 16px;
}

@media (width <= $mobile-width) {
    .root {
        flex-direction: column;
        align-items: center;
    }

    .text {
        width: 80vw;
    }

    .image {
        width: 80vw;
    }
}
