@import '../../../src/styles/theme.module.scss';
.button1 {
    background-color: rgba(40, 43, 45, 0);
    color: $charcoal-black;
    padding: 14px 26px;
    border-radius: 50%;
    font-size: 16px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}
.lay {
}
.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}
.header1 {
    font-family: $my-prettyfont;
    font-size: 160px;
    font-weight: 300;
    font-style: normal;
    line-height: 180px;
    margin-bottom: 30px;
}
.h4 {
    font-family: $my-prettyfont;
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 2px;
}
.p {
    font-family: $my-prettyfont;
    font-size: 20px;
    font-weight: 200;
    max-width: 45%;
    text-align: center;
    margin-bottom: 60px;
}
.button2 {
    padding: 8px 20px 6px;
    background-color: $charcoal-black;
    color: $white;
    text-align: start;
    justify-content: center;
    font-size: 14px;
}
.H1 {
    font-size: 100px;
    font-weight: 200;
    font-family: dm sans;
}
.h42 {
    font-weight: 900;
    font-family: dm sans;
    font-style: italic;
}
.p2 {
    font-family: $my-prettyfont;
    font-weight: 300;
    font-size: 14px;
    text-align: start;
    margin-bottom: 20px;
}
.div1 {
    display: flex;
    justify-content: start;
    width: 439px;
    margin-top: 10px;
}
