@import '@styles/theme.module.scss';

.root {
    display: flex;
    gap: 8px;
}

.option {
    cursor: pointer;
    height: 20px;
    width: 20px;
    transition: padding 100ms;
    border: solid 1px var(--grey);

    & .colorBox {
        width: 100%;
        height: 100%;
    }

    &:hover,
    &.selected {
        border-color: var(--charcoal-black);
        padding: 2px;

        & .colorBox {
            border: solid 1px var(--grey);
        }
    }

    &.hasError {
        border-color: var(--red);
    }
}
