@import '@styles/general.scss';
@import '@styles/typography.scss';
@import '@styles/colors.scss';

.introButton {
    text-align: center;
    font: $heading6;
    background-color: $snow-white;
    padding: 10px;
    width: 160px;
    color: $charcoal-black;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
}

.introButton:hover {
    background-color: #b6c1f0;
    color: var(--black);
}

.primaryButton {
    background-color: var(--charcoal-black);
    display: flex;
    align-items: center;
    font: $button-font;
    color: $snow-white;
    border-radius: 35px;
    height: 42px;
    padding-left: 22px;
    padding-right: 22px;
    border: 1px solid var(--charcoal-black);
    z-index: 1;
}

.secondaryButton {
    height: 42px;
    display: flex;
    color: $charcoal-black;
    align-items: center;
    font: $button-font;
    cursor: pointer;
    padding-right: 22px;
    padding-left: 22px;
    border: 1px solid white;
    z-index: 1;
    background-color: $white;
    border: 1px solid $charcoal-black;
    border-radius: 35px;
    &:hover {
        background-color: #7fc2f4;
        border:1px solid #7fc2f4;
        color: $white;
    }
}

.linkButton {
    height: 42px;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 1;

    &:hover {
        color: $grey;
        text-decoration: underline;
    }
}

.numberInput {
    border: 1px solid var(--black);
    border-radius: 5px;
    padding-left: 10px;
    height: 25px;
    width: 60px;
    padding-right: 10px;
    font: $paragraph3;
}
