@import '@styles/general.scss';
@import '@styles/typography.scss';
@import '@styles/colors.scss';

.introButton {
    text-align: center;
    font: var(--heading6);
    background-color: var(--snow-white);
    padding: 10px;
    width: 160px;
    color: var(--charcoal-black);
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
}

.introButton:hover {
    background-color: #b6c1f0;
    color: var(--black);
}

.primaryButton {
    background-color: var(--charcoal-black);
    display: flex;
    cursor: pointer;
    align-items: center;
    font: var(--button-font);
    color: var(--snow-white);
    border-radius: 35px;
    height: 42px;
    padding-left: 22px;
    padding-right: 22px;
    border: 1px solid var(--charcoal-black);
    z-index: 1;
}
.primaryButton:hover {
    background-color: var(--white);
    border: 1px solid var(--charcoal-black);	   
    color: var(--charcoal-black);
}

.secondaryButton {
    height: 42px;
    display: flex;
    color: var(--charcoal-black);
    align-items: center;
    font: var(--button-font);
    cursor: pointer;
    padding-right: 22px;
    padding-left: 22px;
    border: 1px solid white;
    z-index: 1;
    background-color: var(--white);
    border: 1px solid var(--charcoal-black);
    border-radius: 35px;
    &:hover {
        background-color: #7fc2f4;
        border:1px solid #7fc2f4;
        color: var(--white);
    }
}

.linkButton {
    height: 42px;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

.linkButton:hover {
    color: var(--grey);
    text-decoration: underline;
}

.numberInput {
    border: 1px solid var(--black);
    border-radius: 5px;
    padding-left: 10px;
    height: 25px;
    width: 60px;
    padding-right: 10px;
    font: var(--paragraph3);
}
