@import '@styles/general.scss';
@import '@styles/typography.scss';
@import '@styles/colors.scss';
.root {
    position: relative;
    color: $white;
}

.overlay {
    position: absolute;
    background-color: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 5vw;
}

.image {
    object-fit: cover;
    object-position: 50% 0%;
    height: 640px;
    width: 100%;
}

.smallTitle {
    font: $heading3;
    margin-top: 80px;
    font-size: 38px;
}

.bigTitle {
    font: $heading1;
    line-height: 1.2;
    font-size: 85px;
    letter-spacing: 2px;
    margin-top: 25px;
    max-width: 80%;
}

.overlayButton {
    margin-top: 68px;
}

// --- MEDIA QUERIES ---

@media (width >= $desktop-width) {
    .smallTitle {
        font-size: 42px;
    }

    .bigTitle {
        max-width: 70%;
    }

    .overlayButton {
        height: 47px;
    }
}

@media (width <= $mobile-width) {
    .overlay {
        padding-left: 20px;
        padding-right: 20px;
    }

    .smallTitle {
        font-size: 20px;
        margin-top: 40px;
    }

    .bigTitle {
        font-size: 50px;
        margin-top: 11px;
        max-width: 100%;
    }

    .overlayButton {
        margin-top: 40px;
    }
}
