.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font: $heading2;
}

.message {
    margin-top: 12px;
    font: $heading6;
    max-width: 75vw;
}

.actionButton {
    margin-top: 24px;
}
