@import '../../../src/styles/theme.module.scss';
@import '@styles/typography.scss';

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    gap: 24px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.h4 {
    font-weight: 900;
    font-family: $my-prettyfont;
    font-style: italic;
    text-align: center;
    margin-bottom: 2px;
}

.p {
    font-family: $my-prettyfont;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    font-style: italic;
}

.img {
    width: 400px;
    height: 200px;
    margin-bottom: 10px;
}
.div1 {
    margin-bottom: 4px;
}

.title {
    font: var(--heading2);
}

.message {
    margin-top: 12px;
    font: var(--heading6);
    max-width: 75vw;
}

.actionButton {
    margin-top: 24px;
}
