@import '@styles/typography.scss';

.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font: var(--heading2);
}

.message {
    margin-top: 12px;
    font: var(--heading6);
    max-width: 75vw;
}

.actionButton {
    margin-top: 24px;
}
